mixin game(game)
    tr 
        td
            input(type="checkbox")
        td.game_number=game.number
        td.game_played=game.successfulUsers.length + game.failedUsers.length
        td.game_winRate=game.winRate
        td.game_shortestTime=game.shortestTime ? game.shortestTime : "-"