mixin game(game)
    tr 
        td
            input(type="checkbox")
        td.game_number=game.number
        td.game_played 24
        td.game_winRate=game.winRate
        td.game_averageTime=game.playTime 