.user_game_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 200px;
  padding-top: 100px;
}

.user_game_box {
  text-decoration: none;
  color: white;
  background-color: forestgreen;
  border: 2px solid darkgreen;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  width: 140px;
  font-size: 20px;
  padding: 30px;
  margin: 30px 38px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

.user_game_number {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.user_game_state {
  .fa-circle-check {
    color: darkblue;
  }
  .fa-circle-xmark {
    color: darkred;
  }
  .fa-circle {
    color: rgba(255, 255, 255, 0.2);
  }
}

@media screen and (max-width: 1480px) {
  .user_game_container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .user_game_container {
    padding: 0;
    padding-top: 40px;
  }
  .user_game_box {
    width: 120px;
    padding: 20px;
    margin: 18px 22px;
  }
  .user_game_winRate {
    margin-right: 6px;
  }
}
