* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  background-color: $dark-brown;
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;

  .main_home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.slide_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .slide {
    display: flex;
    transition: all 0.5s;

    li {
      img {
        width: 100vw;
        height: 100vh;
        filter: brightness(40%);
        object-fit: cover;
      }
    }
  }
}

.btn_play_freecell {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  position: absolute;
  top: 460px;
  font-size: 8rem;
  color: white;
  background-color: green;
  text-decoration: none;
  border: 5px solid lightgreen;
  border-radius: 30px;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: darkgreen;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1480px) {
  .btn_play_freecell {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .btn_play_freecell {
    font-size: 2rem;
    top: 260px;
    border-radius: 20px;
    border: 3px solid lightgreen;
  }
}
