html,
body {
  height: 100%;
}

main {
  background-color: #e29c5f;
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;

  .main_home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn_play_freecell {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;

  font-size: 130px;
  color: white;
  background-color: green;
  text-decoration: none;
  border: 3px solid lightgreen;
  border-radius: 10px;
  padding: 20px 40px;
  cursor: pointer;
  margin-top: 300px;

  &:hover {
    background-color: darkgreen;
  }
}
