.game_header {
  background-color: darkgreen;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 22px;
  border-radius: 30px;
  width: 100%;

  .game_header_child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main_game {
  background-color: green;
  width: 100%;
  height: 100vh; // main 높이와 같게 만들기
  padding-top: 60px;
}

.table {
  width: 1300px;
  margin: auto;

  #time {
    width: 150px;
    height: 60px;
  }
}

.box_game_btn {
  button {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.cell {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;

  .freeCell,
  .homeCell {
    display: flex;
    justify-content: center;
  }

  .freeCell .free,
  .homeCell .home {
    border: 3px mediumseagreen solid;
    width: 100px;
    height: 140px;
    margin: 0 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .homeCell .home {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .homeCell .home div {
    position: absolute;
  }
}

.deck {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 150px 0;
}

.column {
  margin: 0 20px;
  width: 100px;
}

.card {
  width: 100px;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: -94px;
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .table {
    width: 800px;
  }

  .game_header {
    font-size: 16px;

    #time {
      height: 50px;
    }
  }

  .box_game_btn {
    button {
      font-size: 12px;
      width: 70px;
      height: 40px;
      margin-right: 10px;
    }
  }

  .cell {
    padding-top: 50px;

    .freeCell .free,
    .homeCell .home {
      border: 2px mediumseagreen solid;
      width: 60px;
      height: 84px;
      margin: 0 12px;
    }
  }

  .deck {
    padding: 50px 0;
  }

  .column {
    margin: 0 14px;
    width: 60px;
  }

  .card {
    width: 60px;

    &:not(:first-child) {
      margin-top: -58px;
    }
  }
}

@media screen and (max-width: 768px) {
  .table {
    width: 480px;
  }

  .game_header {
    font-size: 10px;

    #time {
      height: 30px;
    }
  }

  .box_game_btn {
    button {
      font-size: 8px;
      width: 50px;
      height: 24px;
      margin-right: 5px;
    }
  }

  .cell {
    padding-top: 26px;

    .freeCell .free,
    .homeCell .home {
      border: 1.4px mediumseagreen solid;
      width: 40px;
      height: 56px;
      margin: 0 6px;
    }
  }

  .deck {
    padding: 34px 0;
  }

  .column {
    margin: 0 7px;
    width: 40px;
  }

  .card {
    width: 40px;

    &:not(:first-child) {
      margin-top: -39px;
    }
  }
}

@media screen and (max-width: 375px) {
  .main_game {
    padding-top: 30px;
  }

  .table {
    width: 360px;
  }

  .game_header {
    font-size: 10px;

    #time {
      height: 30px;
    }
  }

  .box_game_btn {
    button {
      font-size: 6px;
      width: 36px;
      height: 24px;
      margin-right: 5px;
      border-radius: 7px;
      border: 0.1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .cell {
    padding-top: 26px;

    .freeCell .free,
    .homeCell .home {
      border: 1px mediumseagreen solid;
      width: 32px;
      height: 45px;
      margin: 0 4px;
    }
  }

  .column {
    margin: 0 4px;
    width: 32px;
  }

  .card {
    width: 32px;

    &:not(:first-child) {
      margin-top: -32px;
    }
  }
}
