@keyframes modalUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.container_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal {
  width: 600px;
  height: 560px;
  background-color: darkgreen;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: modalUp 0.5s;

  div {
    width: 460px;
  }

  .box_title {
    color: white;
    font-size: 56px;
    margin-bottom: 60px;
    text-align: center;
  }

  .box_record {
    margin-bottom: 60px;
    background-color: rgb(0, 70, 0);
    color: white;
    font-size: 20px;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.4);

    .record {
      display: flex;
      padding: 20px 0;

      div {
        display: flex;
        justify-content: center;
      }
    }

    .record:nth-child(odd) {
      background-color: rgb(0, 51, 0);
    }
  }

  .box_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: black;
      font-size: 18px;
      padding: 18px 30px;
      background-color: white;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 8px;

      &:hover {
        background-color: rgba(235, 235, 235, 0.9);
      }
    }

    a:not(:last-child) {
      margin-right: 40px;
    }
  }
}

// new game button
.newGame_modal {
  width: 800px;
  height: 240px;
  background-color: darkgreen;
  border: 3px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: modalUp 0.5s;

  .newGame {
    font-size: 24px;
    color: white;
    margin-bottom: 50px;
  }

  button {
    color: black;
    font-size: 18px;
    padding: 10px 30px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;

    &:hover {
      background-color: rgba(235, 235, 235, 0.9);
    }
  }

  button:not(:last-child) {
    margin-right: 40px;
  }
}
