extends layout/layout
include mixins/game-admin

block content
    div.main_admin
        div.container_newGame
            form(method="post")
                input.input_num(placeholder=1, name="num", type="number", required)
                input.input_submit(type="submit", value="Create Game")
        div.container_searchGame
            input(placeholder="Search game", name="title", type="number", required)
            i.fa-solid.fa-magnifying-glass
        div.container_gameTable
            table 
                thead.row_head 
                    tr
                        th 
                            input(type="checkbox")
                        th Number
                        th Challenge
                        th winRate 
                        th average time
                tbody
                    each game in games
                        +game(game)
