extends layout/layout
include mixins/card

block content
    div.main_home
        button.btn_play_freecell
            span Play 
            span FreeCell &rarr;

block scripts
    script(src="/static/js/gamePlay.js")