extends layout/layout
include mixins/card

block content
    div.main_home
        div.slide_container
            ul.slide
                each num in [1,2,3,4]
                    li
                        img(src=`https://hifreecell-mini.s3.amazonaws.com/images/bgi${num}.jpg` crossorigin alt=`Card Image #${num}`)
                           
        button.btn_play_freecell
            span Play FreeCell! &rarr;

block scripts
    script(src="/static/js/home.js")