header
    a(href="/") HiFreecell
    nav 
        ul  
            li 
                a(href="/games") Game
            
            if loggedIn
                li 
                    a(href="/users/logout") Logout
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        i.fa-solid.fa-user
            else 
                li 
                    a(href="/join") Join
                li 
                    a(href="/login") Login
