header
    a(href="/") HiFreecell
    a(href="#")#navbar_toggleBtn
                    i.fa-solid.fa-bars
    nav 
        ul      
            if admin
                li 
                    a(href="/admin") Admin
                li 
                    a(href="/users/logout") Logout
            else 
                li 
                    a(href="/games") Game
                
                if loggedIn
                    li 
                        a(href="/users/logout") Logout
                    li 
                        a(href="/users/edit") Edit profile
                    li 
                        a(href=`/users/${loggedInUser._id}`)
                            if loggedInUser.socialOnly || isFly
                                img(src=loggedInUser.avatar, crossorigin)
                            else
                                img(src="/" + loggedInUser.avatar)
                else 
                    li 
                        a(href="/join") Join
                    li 
                        a(href="/login") Login