extends ../layout/layout

block content
    div.main_login
        if errorMessage
            h3=errorMessage
        form.form_login(method="post")
            h1=pageTitle
            input(placeholder="Old Password" type="password" name="oldPassword")
            input(placeholder="New Password" type="password" name="newPassword")
            input(placeholder="New Password Confirmation" type="password" name="newPasswordConfirmation")
            input.btn_submit(value="Change Password", type="submit")       